@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h4>Step 3: Collecting the access token</h4>
    <p>Let me ask studio staff to provide me access token using MB identity workflow.</p>
    <hr />
    <button onclick="location.href='@Url.Action("MindbodyLogin", "Home")'" class="btn btn-sm btn-info">Sync with Mindbody</button>
</div>